/* Custom base styles */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Add a smooth transition for the progress bar width */
#progress-bar {
    transition: width 0.5s ease-in-out;
}
